# Virtual Environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
corrupted_webp_files.txt

# Operating System
.DS_Store
Thumbs.db 